@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: "Poppins";
  src: url('../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: Bold;
}

body{
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

#medi_svg__body {
  animation: hello 5s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes hello{
  0% {
      transform: translateY(0%);
  }
  50% {
      transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

